/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/*HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
*{
  line-height: 1;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
 
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
 /*fin del reset*/


 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap'); 

  
  .nav {
    padding:  0;
    background-color:white;
    position:fixed;
    top:0;
    width: 100%;
    z-index: 400;
    height: 75px;
    box-shadow: 8px 7px 33px #0000000f
    
  }


  #ler{
    position: relative;
    left: 287px;
    top: 15px;
}

  
  .nav-space {
    display: flex;
    justify-content: space-between;
  }
  
  .header_logo {
    position: relative;
    left: 3%;
    top: 10px;
  }

  
 .menu{
    position: relative;
    top: 27px;
    right: 19%;
    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    font-weight: bold;
    font-size: 10.2308px;
    line-height: 20px;
  }

  .menu a {
    color: #9E9E9E;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 8px 7px 7px;
  }

  .menu .btn-gray-1{
    background: #01F2D3;
    width: auto;
    height: auto;
    color: #053B45;

  }


  

/*BANNER-------------------------------------------------*/



.parallax {
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
  }
  .header{
    background-image: url("../img/fondo.png");
    height: 71vh;
    }



.logo_1  {
  height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 127px;

}

.logo_1 img {
  width: 254px;
  margin-bottom: 20px;

}
.logo_1 p {
  letter-spacing: 0.16px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-family: "Poppins-Light", sans-serif;
  text-align: center;
  margin: 0 0 20px;
  
}

.logo_1 h2 {
  color: white;
  font-size: 34px;
  line-height: 40px;
  font-family: "Poppins-Bold", sans-serif;
  text-align: center;
}
h2{
margin-bottom: 15px;
font-weight: 700;
}

#flecha{
  width: 41px;
  margin-top: 39px;
}




.sec_3{
    width: 100% !important;
    background-color: white;
    color: #404040;
    font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
}

.title_1{
    text-align: center;
    margin-top: 118px;
    font-size: 25px;
    letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 500;
}


.title_1 strong{
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #aad001;
}

.sec_4{
  text-align: center;  
  padding-top: 75px;
  padding-bottom: 10%;
}

.sec_4 .point{
  padding-bottom: 157px;
  cursor: pointer;
  width: 26px;

}

.sec_5{
  background-color: #f7f4f0;
  max-width: 100% !important;
  height: 490px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.967806px;
  text-transform: uppercase;
   display: flex;
   justify-content: center;
    position: relative;
    padding-top: 5%;
}

.sec_5 .eco{
  width: 245px;
}
.eco .eco_1{
  height: 151px;
}

.sec_6{
  height:490px;
  background: #053B45;
}

.text_6 .logo1{
    position: relative;
    left: 102px;
    padding-top: 60px;
    width: 20%;
    height: auto;
}

.logo_text1{
    margin-left: 99px;
    padding-top: 18px;
    color: white;
    font-size: 20px;
}

.logo__1{
  position: relative;
  top: 70px;
  right: 111px;
}
.logo__2{
  position: relative;
  top: 65px;
  right: 131px;
}


.reser{
    position: relative;
    top: 136px;
    margin-left: 96px;
    font-size: 20px;
    color: white;
    font-weight: 500;
}


.contact{
  position: relative;
  top: -115px;
}


