/* #alc_bg{
    background-image: url(../img/fondo.png);
    height: 68vh;
    background-repeat: no-repeat;
    width: 100%;
} */


*body{
    overflow: hidden;
}

@font-face {
    font-family: "Poppins-Light", sans-serif;;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
    font-family: "Poppins-bold";
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

#alc_header_bg{
    background-image: url(../img/fondo.png);
    height: 71vh;
    background-repeat: no-repeat;
}

.parallax{
    background-size: cover;
}

#alc_bg{
    background-color: white;
}


#alc_logo_a{
    position: relative;
    top: 24px;
    left: 17%;
}

#alc_logo_lerces{
    position: absolute;
    top: 24px;
    margin-left: 17%;
}

#alc_menu{
    margin-right: 18%;
    position: relative;
    top: -12px;
}

#alc_btn{
    background-color:#00ffde;
}
.nav-link{
    color: #a9a9a9;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

#alc_verde_sec_2{
    text-align: center;
    padding-top: 58px;    
    color: white;
    font-family: "Poppins-Light", sans-serif;
    
}
    .alc_verde_logo{
        max-width: 318px;
        padding-bottom: 18px;

    }       
        h2{
            padding-top: 2px;
            font-family: "Poppins-bold";
        
        }
        @media (max-width: 1000px){
            .col{
                width: 48%;
            }
        }

        #alc_max{
            max-width: 100%;
        }

.alc_arrow{
    padding-top: 17px;
}



/* REFERIDOS */

/* .alrc__referidos-row{
    max-width: 100%;
    display: flex;
    justify-content: center;
} */



.alrc__referidos-sec2 
.alrc__referidos-row {
    max-width: 1250px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.alrc_referidos-sec2{


    padding: 100px 0 0 25px;
}


.alrc_referidos-sec2 h2{
    font-family: 'Poppins-Medium', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 81.5%;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9E9E9E;
}
.alrc_referidos-sec2 span{
    font-family: 'Poppins-Medium', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 81.5%;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #AAD001;
}

.owl-stage-outer{
    display: flex;
    justify-content: center;
    padding: 53px;
}


.float-start,
.float-center,
.float-end{
    width: 320px;
    margin: 50px;
}



.alrc__referidos-sec3{
    background: #F7F4F0;
    padding: 80px 0;

}


    .alrc__referidos-sec3 .alrc__referidos-row div {
        max-width: 4%;
        width: 100%;
        display: flex;
        flex-direction: column;

}













